@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white bg-black;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  p,
  a,
  ul,
  li,
  label {
    @apply text-sm text-[#b3b3b3];
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-900;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-800;
  }
}

@layer utilities {
  .bg-tiles {
    background-image: repeating-linear-gradient(
        90deg,
        hsla(57, 0%, 42%, 0.09) 0px,
        hsla(57, 0%, 42%, 0.09) 1px,
        transparent 1px,
        transparent 60px
      ),
      repeating-linear-gradient(
        0deg,
        hsla(57, 0%, 42%, 0.09) 0px,
        hsla(57, 0%, 42%, 0.09) 1px,
        transparent 1px,
        transparent 60px
      ),
      repeating-linear-gradient(
        0deg,
        hsla(57, 0%, 42%, 0.09) 0px,
        hsla(57, 0%, 42%, 0.09) 1px,
        transparent 1px,
        transparent 10px
      ),
      repeating-linear-gradient(
        90deg,
        hsla(57, 0%, 42%, 0.09) 0px,
        hsla(57, 0%, 42%, 0.09) 1px,
        transparent 1px,
        transparent 10px
      ),
      linear-gradient(90deg, rgb(20, 20, 20), rgb(20, 20, 20));

    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgb(0, 0, 0));
    -webkit-mask-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
  }
}
